
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1.0,width=device-width" />
        <title>一起每天读 - {{ title }}</title>
        <meta name="keywords" content="一起每天读">
        <meta name="description" content="一起每天读，随机推荐美文阅读">
{#        <link rel="icon" href="favicon.ico" type="image/x-icon" />#}
{#        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />#}
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
        <script type='text/javascript' src='/static/js/jquery.js'></script>
        <script type='text/javascript' src='/static/js/jquery-migrate.min.js'></script>
    </head>

    <body class="post-template-default single single-post postid-6849 single-format-standard">

        <div id="page">
            <div id="header">
                <a id="logo" href="http://127.0.0.1:8000">
                    <img src="/static/images/logo.png"/></a>
                <div id="navigation" class="menu-main_menu-container">

                </div>
            </div>
            <!--end header-->
            <div id="content">
                <div id="main">
                    <div class="post-6849 post type-post status-publish format-standard has-post-thumbnail hentry category-4-">
                        <div id="featuredImage">
                            <img src="/static/images/a340/{{pic}}" class="attachment-post size-post wp-post-image" alt="" srcset="/static/images/a340/{{pic}} 340w, /static/images/a340/{{pic}} 150w, /static/images/a340/{{pic}} 300w" sizes="(max-width: 340px) 100vw, 340px" /></div>
                        <h2 class="posttitlei">{{ title }}</h2>
                        <div class="postInfo">作者 {{ author }}                            </div>
                        <div id="entryContainer">
                            <div class="entry">
                                <p>{{ nice | safe }} </p>
                                <div style="clear:both; margin-top:5px; margin-bottom:5px;"></div>

                                <div style="clear:both; margin-top:5px; margin-bottom:5px;"></div>
                            </div>
                            <!--end entry--></div>
                        <!--IF COMMENTS ARE OPEN--></div>
                    <!--end post--></div>
                <!--end main-->
                <div class="clear"></div>
            </div>


            <!--end content-->
            <div id="footer">
                <div id="copyright">&copy; 2018 一起每天读            </div>
            </div>
            <!--end footer--></div>
        <!--end page-->
        <script type="text/javascript" src="/static/js/prettyphoto.js"></script>
        <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="/static/js/respond.min.js"></script>
        <script type="text/javascript">jQuery.noConflict();
            jQuery(document).ready(function() {
                jQuery.backstretch("/static/images/g1920/{{pic}}", {
                    speed: 300
                });
            });</script>


        <div id="mesh"></div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?dcee837eac52cf2e97298bde7a509b63";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    </body>

</html>